<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Plantilla clínicas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="script.js" type="application/ecmascript"></script>
</head>

<body>
    <div class="container-fluid p-0">
        <nav id="menu">
            <a href="index.html">
                <img src="../logo.png" alt="logo" />
            </a>
            <ul class="d-none d-lg-flex">
                <a href="index.html">
                    <li>Inicio</li>
                </a>
                <a href="tratamientos.html">
                    <li>Tratamientos</li>
                </a>
                <a href="">
                    <li>La clínica</li>
                </a>
                <a href="">
                    <li>Testimonios</li>
                </a>
                <a href="postdeblog.html">
                    <li>Blog</li>
                </a>
                <a href="">
                    <li class="btn btn-azul1">
                        <span style="font-size: 2rem;">✆</span>
                    </li>
                </a>
            </ul>
            <div class="d-flex d-lg-none d-xl-none" data-toggle="collapse" data-target="#menumobile" aria-expanded="false" aria-controls="menucollapse"
                style="font-size: 2rem; padding: 0 1em; color: var(--gris1)">≡</div>
        </nav>
        <div id="menumobile" class="collapse" aria-labelledby="menumobile" data-parent="#menu">
            <ul>
                <a href="index.html">
                    <li>Inicio</li>
                </a>
                <a href="tratamientos.html">
                    <li>Tratamientos</li>
                </a>
                <a href="">
                    <li>La clínica</li>
                </a>
                <a href="">
                    <li>Testimonios</li>
                </a>
                <a href="postdeblog.html">
                    <li>Blog</li>
                </a>
            </ul>
        </div>
        <div class="banner centro">
            <div class="bannerinner">
                <h1>Implantes dentales</h1>
                <h3>Más de 20 añós de innovación para recuperar tu sonrisa</h3>
            </div>
        </div>
    </div>
    <div class="bannerhalfvideo">
        <div class="video">
            <img src="1.jpg" />
            <span class="play">▶</span>
        </div>
        <div class="cards">
            <div class="card">
                <div class="cardimage">
                    <img src="1.jpg" />
                </div>
                <div class="cardtext">
                    <h3>En menos de 1 día</h3>
                    <p>Sin necesidad de largos procedimientos, en el mismo día podrás ver los resultados</p>
                    <div class="btn btn-blanco" data-toggle="modal" data-target="#modal_sedacion">
                        <span style="font-size: 2em; margin: 1px 1em 0 0; line-height: 0;">+</span> Más detalles
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="1.jpg" />
                </div>
                <div class="cardtext">
                    <h3>Recupera tu boca</h3>
                    <p>Cuanto tiempo llevas pensando en como era la sensación de comer tu comida favorita</p>
                    <div class="btn btn-blanco" data-toggle="modal" data-target="#modal_sedacion">
                        <span style="font-size: 2em; margin: 1px 1em 0 0; line-height: 0;">+</span> Más detalles
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="1.jpg" />
                </div>
                <div class="cardtext">
                    <h3>Completamente indoloro</h3>
                    <p>Empleamos las técnicas más avanzadas de sedación para hacer tu tratamiento indoloro</p>
                    <div class="btn btn-blanco" data-toggle="modal" data-target="#modal_sedacion">
                        <span style="font-size: 2em; margin: 1px 1em 0 0; line-height: 0;">+</span> Más detalles
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner centro">
            <div class="bannerinner">
                <h2>Tipos de implantes</h2>
                <p>Sea cual sea tu problema tenemos la solución. Gracias a nuestra exclusiva tecnología podemos poner uno o todos los implantes y dientes en un sólo día</p>
            </div>
        </div>
        <div class="cardwrapper azul1 tres">
            <a class="cardtitle" href="tratamientos.html">
                <h3>IMPLANTES UNITARIOS</h3>
                <p>Si te falta un solo diente</p>
                <div class="plusbtn">+</div>
            </a>
            <a class="cardtitle" href="tratamientos.html">
                <h3>IMPLANTES DENTALES</h3>
                <p>Si te faltan dos o más dientes</p>
                <div class="plusbtn">+</div>
            </a>
            <a class="cardtitle" href="tratamientos.html">
                <h3>ALL ON FOUR</h3>
                <p>Rehabilitación total de la mandíbula mínimamente invasiva</p>
                <div class="plusbtn">+</div>
            </a>
            <a class="cardtitle" href="tratamientos.html">
                <h3>REHABILITACIÓN COMPLETA</h3>
                <p>Si te faltan todas las piezas</p>
                <div class="plusbtn">+</div>
            </a>
            <a class="cardtitle" href="tratamientos.html">
                <h3>IMPLANTES SIN HUESO</h3>
                <p>Gracias a las más altas tecnologías</p>
                <div class="plusbtn">+</div>
            </a>
            <a class="cardtitle" href="tratamientos.html">
                <h3>CIRUGÍA GUIADA MÍNIMAMENTE INVASIVA</h3>
                <p>Implantes diesñados por ordenador</p>
                <div class="plusbtn">+</div>
            </a>
        </div>
    </div>
</body>

<style>
    .modal.ancha .modal-content {
        width: calc(100vw - 3em);
    }
    .modal.ancha .modal-body {
        padding: 0;
    }
    .modal.ancha .modal-dialog {
        margin: 1em;
    }
    .modal .banner {
        padding: 1.5em;
    }
    .bannerhalf {
        display: flex;
        margin-top: -40px;
    }
    .halfimage {
        flex: 1.1;
        display: flex;
    }
    .halfimage img {
        width: 100%;
        object-fit: cover;
    }
    .halftext {
        flex: 0.8;
        padding: 60px 3em 1em 3em;
    }
    .itemwrapper {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin: 1em auto;
    }
    .itemwrapper .redondel {
            width: 125px;
            height: 125px;
            object-fit: cover;
            border-radius: 200px;
            padding: 1em;
    }
    .carousel-info {
        padding: 0 1em;
    }
    @media (max-width: 992px) {
        .bannerhalf {
            flex-direction: column;
        }
        .bannerhalf:not(:first-child) {
            margin-top: 0;
        }
        .bannerhalf.reverse {
            flex-direction: column-reverse;
        }
        .bannerhalf .halfimage {
            min-height: 300px;
        }
        .bannerhalf .halftext {
           padding: 2em;
        }
    }
</style>
<div id="modal_sedacion" class="modal fade ancha" tabindex="-1" role="dialog" aria-labelledby="modal_sedacion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="banner centro">
                    <div class="bannerinner">
                        <h1>La sedación</h1>
                        <h3>¿Para qué sirve?</h3>
                        <p>La sedación es un procedimiento que se ha vuelto muy común en nuestro medio, se aplica en oficinas, consultorios y salas quirúrgicas. Sin embargo, los riesgos implícitos en la aplicación de esta técnica anestésica parecen ser obviados por muchos. Es por ello que describimos las condiciones técnicas y profesionales mínimas para la adecuada administración de una sedación.</p>
                    </div>
                </div>
                <div class="banner" style="background-image:url(1.jpg); background-size: cover; min-height: 300px;"></div>
                <div class="container">
                    <div class="bannerhalf reverse">
                        <div class="halftext">
                            <h3>¿Cuándo la aplicamos?</h3>
                            <p>Las metas que se persiguen al utilizar la sedación son: reducir la ansiedad del paciente, disminuir el dolor poroducido por la inyección del anestésico local, aumentar la tolerancia del paciente en procedimientos de larga duración, evitar los riesgos asociados con la anestesia general, amnesia del procedimiento o cirugía, recuperación más rápida y egreso más rápido, en comparación con la anestesia general, menores complicaciones postoperatorias que con la anestesia general.</p>
                        </div>
                        <div class="halfimage">
                            <img src="1.jpg" />
                        </div>
                    </div>
                    <div class="bannerhalf">
                        <div class="halfimage">
                            <img src="1.jpg" />
                        </div>
                        <div class="halftext">
                            <h3>Serviría para mi caso?</h3>
                            <p>Las metas que se persiguen al utilizar la sedación son: reducir la ansiedad del paciente, disminuir el dolor poroducido por
                                la inyección del anestésico local, aumentar la tolerancia del paciente en procedimientos de larga duración, evitar los
                                riesgos asociados con la anestesia general, amnesia del procedimiento o cirugía, recuperación más rápida y egreso más
                                rápido, en comparación con la anestesia general, menores complicaciones postoperatorias que con la anestesia general.</p>
                        </div>
                    </div>
                </div>
                <div id="carouselsedacion" class="carousel slide" data-ride="carousel" style="background-color: var(--blanco2)">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselsedacion" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselsedacion" data-slide-to="1"></li>
                        <li data-target="#carouselsedacion" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="itemwrapper">
                                <img class="redondel" src="../2.jpg" alt="First slide">
                                <div class="carousel-info">
                                    <h4>Dr. Silvio Rodríguez</h4>
                                    <p>Anestesista en colaboración con el departamento de implantología de la Clinica Dental Avilés y Román</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="itemwrapper">
                                <img class="redondel" src="../2.jpg" alt="Second slide">
                                <div class="carousel-info">
                                    <h4>Dr. Silvio Rodríguez</h4>
                                    <p>Anestesista en colaboración con el departamento de implantología de la Clinica Dental Avilés y Román</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="itemwrapper">
                                <img class="redondel" src="../2.jpg" alt="Third slide">
                                <div class="carousel-info">
                                    <h4>Dr. Silvio Rodríguez</h4>
                                    <p>Anestesista en colaboración con el departamento de implantología de la Clinica Dental Avilés y Román</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div style="background-color: var(--blanco2)">
                    <div class="btn btn-blanco" data-dismiss="modal" aria-label="Close" style="margin: 0 auto;">
                        <span style="font-size: 2rem; line-height: 0; margin: 3px 1em 0 0">&times;</span>Volver
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
</html>