<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Prótesis fijas - Clínica Dr. Avilés</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="script.js" type="application/ecmascript"></script>
</head>

<body>
    <iframe src="#" id="no-target" name="no-target" style="visibility: hidden; height: 0;"></iframe>
    <div class="container-fluid p-0">
        <nav id="menu">
            <a href="index.html">
                <img src="../logo.png" alt="logo" />
            </a>
            <ul class="d-none d-lg-flex">
                <a href="">
                    <li class="btn btn-azul1">
                        <span style="font-size: 2rem; margin: -3px 10px 0 0;">✆</span> 611 32 41 01
                    </li>
                </a>
            </ul>
            <div class="d-flex d-lg-none d-xl-none" data-toggle="collapse" data-target="#menumobile" aria-expanded="false" aria-controls="menucollapse"
                style="font-size: 2rem; padding: 0 1em; color: var(--gris1)">≡</div>
        </nav>
        <div id="menumobile" class="collapse" aria-labelledby="menumobile" data-parent="#menu">
            <ul>
                <a href="#">
                    <li>
                        <span style="font-size: 2rem; margin: -3px 10px 0 0;">✆</span> 611 32 41 01
                    </li>
                </a>
            </ul>
        </div>
        <div class="banner centro">
            <div class="bannerinner">
                <h1>Prótesis dentales fijas</h1>
                <h3>Definitivas y en un solo día</h3>
            </div>
        </div>
    </div>
    <div class="bannerhalfvideo">
        <div class="video">
            <img src="mouth.jpg" />
            <span class="play">▶</span>
        </div>
        <div class="cards">
            <div class="card">
                <div class="cardimage">
                    <img src="mouth.jpg" />
                </div>
                <div class="cardtext">
                    <h3>Prótesis dentales definitivas</h3>
                    <p> Nuestras prótesis se fabrican con titanio, circonio y cerámica, garantizando su resistencia para siempre.</p>
                    <div class="btn btn-blanco" data-toggle="modal" data-target="#modal_sedacion">
                        <span style="font-size: 2em; margin: 1px 1em 0 0; line-height: 0;">+</span> Más detalles
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="en-un-dia.jpg" />
                </div>
                <div class="cardtext">
                    <h3>En un solo día</h3>
                    <p>Sin necesidad de largos procedimientos, en el mismo día podrás ver los resultados</p>
                    <div class="btn btn-blanco" data-toggle="modal" data-target="#modal_sedacion">
                        <span style="font-size: 2em; margin: 1px 1em 0 0; line-height: 0;">+</span> Más detalles
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="indoloro.jpg" />
                </div>
                <div class="cardtext">
                    <h3>Completamente indoloro</h3>
                    <p>Empleamos las técnicas más avanzadas de sedación para hacer tu tratamiento indoloro</p>
                    <div class="btn btn-blanco" data-toggle="modal" data-target="#modal_sedacion">
                        <span style="font-size: 2em; margin: 1px 1em 0 0; line-height: 0;">+</span> Más detalles
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid avilesencima">
        <div class="container">
            <div class="banner centro">
                <div class="bannerinner">
                    <h2>Precios</h2>
                    <p>Volver a disfrutar de tu dentadura en un solo día ahora está a tu alcance</p>
                </div>
            </div>
            <div class="cardwrapper azul1 tres">
                <div class="cardvertical">
                    <img src="1.jpg">
                    <div class="cardtext">
                        <h3>Arcada inferior</h3>
                        <h4>Desde 6.000€</h4>
                        <p>Incluye prótesis definitivas en 24 horas de titanio y acrílico</p>
                    </div>
                    <div class="plusbtn" data-target="#contacto_inferior" data-toggle="modal">+</div>
                </div>
                <div class="cardvertical">
                    <img src="1.jpg">
                    <div class="cardtext">
                        <h3>Arcada superior</h3>
                        <h4>Desde 8.000€</h4>
                        <p>Incluye prótesis definitivas en 24 horas de titanio y acrílico</p>
                    </div>
                    <div class="plusbtn" data-target="#contacto_superior" data-toggle="modal">+</div>
                </div>
                <h3 class="text-align: center" ;>Financiación hasta 36 meses sin intereses </h3>
                <p>
                    <small>* Los precios pueden variar en función de la cantidad de hueso o condiciones anatómicas especiales del paciente.
                    </small>
                    <br />
                    <small>* Existe la posibilidad de elegir otros materiales como circonio y cerámica o porcelana, variando el coste definitivo.</small>
                    <br />
                    <small>* Gastos de comisión de apertura del 3% </small>
                </p>
            </div>
        </div>
    </div>

    <div class="banner izda aviles">
        <div class="bannerinner">
            <h2>Dr. Pablo Avilés</h2>
            <h4>Un tratamiento de vanguardia aplicado por uno de los profesionales más reconocidos del panorama dental internacional</h4>
            <div class="btn btn-azul2">Descubre más</div>
        </div>
    </div>
    
    <div class="container-fluid avilesdebajo">
        <div class="citas container">
            <div class="banner centro">
                <div class="bannerinner">
                    <h2>Nuestros clientes</h2>
                    <p>Nada nos hace sentir más orgullosos que la satisfacción de nuestros clientes con su nueva prótesis</p>
                </div>
            </div>
            <div class="cita">
                <p>Con los implantes definitivos del Doctor Avilés he vuelto a no sufrir de dolor de ningún tipo al roer guijarros. ¡Ni el granito se me resiste!</p>
                <small>Alonso Guijuelo</small>
            </div>
            <div class="cita">
                <p>Ya nadie ha vuelto a meterse conmigo por no poder masticar correctamente. Desde el mismo día en que me puse las prótesis dentales definitivas del Dr. Avilés pude arrancar a mordiscos la cara de quien yo quisiera</p>
                <small>Clodoaldo Ramirez</small>
            </div>
            <div class="cita">
                <p>Mi rendimiento como camarera se ha incrementado en un 260% al volver a poder abrir los botellines de cerveza con los dientes. ¡Gracias doctor Avilés!</p>
                <small>Karen de la Fuente</small>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="banner centro">
            <div class="bannerinner">
                <h2>Contáctanos</h2>
                <p>Déjanos tus datos y te atenderemos de forma personalizada lo antes posible</p>
            </div>
        </div>
        <form onsubmit="$('#gracias').modal('show'); this.reset();" action="https://docs.google.com/forms/d/e/1FAIpQLSeSZ3UOF-cwrTozJJBN8p_Ucl2Sb_nLa6u0AT_bqc9XhCLwQg/formResponse"
                target="no-target">
            <div class="row contactform">
                <div class="col-md-6 col-12">
                <input name="entry.1199946029" type="text" id="nombre" autocomplete="given-name" required placeholder="Nombre" aria-label="Nombre">
                <input name="entry.249173692" type="text" id="apellidos" autocomplete="family-name" required placeholder="Apellidos" aria-label="Apellidos">
                    <input name="emailAddress" type="email" id="email" autocomplete="email" required placeholder="Email" aria-label="Email">
                </div>
                <div class="col-md-6 col-12">
                <input name="entry.659781189" type="text" id="telefono" autocomplete="tel" placeholder="Teléfono" aria-label="Teléfono">
                <textarea rows="4" name="entry.1197895751" id="descripcion" placeholder="Descripción" aria-label="Descripción"></textarea>
                    <button type="submit" class="btn btn-azul1">Enviar</button>
                </div>
                <input name="entry.1446172262" type="hidden" value="" >
            </div>
        </form>
    </div>
</body>

<div id="gracias" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gracias" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-body">
                <h4>Hemos recibido tus datos correctamente</h4>
                <p>En breve contactaremos contigo para atenderte personalmente</p>
                <div class="btn btn-azul1" data-dismiss="modal">Continuar</div>
            </div>
        </div>
    </div>
</div>

<div id="modal_sedacion" class="modal fade ancha" tabindex="-1" role="dialog" aria-labelledby="modal_sedacion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span data-dismiss="modal" style="position: absolute; top: 1em; right: 1em; font-size: 2em;">&times;</span>
                <div class="banner centro">
                    <div class="bannerinner">
                        <h1>La sedación</h1>
                        <h3>¿Para qué sirve?</h3>
                        <p>La sedación es un procedimiento que se ha vuelto muy común en nuestro medio, se aplica en oficinas,
                            consultorios y salas quirúrgicas. Sin embargo, los riesgos implícitos en la aplicación de esta
                            técnica anestésica parecen ser obviados por muchos. Es por ello que describimos las condiciones
                            técnicas y profesionales mínimas para la adecuada administración de una sedación.</p>
                    </div>
                </div>
                <div class="banner" style="background-image:url(1.jpg); background-size: cover; min-height: 300px;"></div>
                <div class="container">
                    <div class="bannerhalf reverse">
                        <div class="halftext">
                            <h3>¿Cuándo la aplicamos?</h3>
                            <p>Las metas que se persiguen al utilizar la sedación son: reducir la ansiedad del paciente, disminuir
                                el dolor poroducido por la inyección del anestésico local, aumentar la tolerancia del paciente
                                en procedimientos de larga duración, evitar los riesgos asociados con la anestesia general,
                                amnesia del procedimiento o cirugía, recuperación más rápida y egreso más rápido, en comparación
                                con la anestesia general, menores complicaciones postoperatorias que con la anestesia general.</p>
                        </div>
                        <div class="halfimage">
                            <img src="1.jpg" />
                        </div>
                    </div>
                    <div class="bannerhalf">
                        <div class="halfimage">
                            <img src="1.jpg" />
                        </div>
                        <div class="halftext">
                            <h3>Serviría para mi caso?</h3>
                            <p>Las metas que se persiguen al utilizar la sedación son: reducir la ansiedad del paciente, disminuir
                                el dolor poroducido por la inyección del anestésico local, aumentar la tolerancia del paciente
                                en procedimientos de larga duración, evitar los riesgos asociados con la anestesia general,
                                amnesia del procedimiento o cirugía, recuperación más rápida y egreso más rápido, en comparación
                                con la anestesia general, menores complicaciones postoperatorias que con la anestesia general.</p>
                        </div>
                    </div>
                </div>
                <div id="carouselsedacion" class="carousel slide" data-ride="carousel" style="background-color: var(--blanco2)">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselsedacion" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselsedacion" data-slide-to="1"></li>
                        <li data-target="#carouselsedacion" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="itemwrapper">
                                <img class="redondel" src="../2.jpg" alt="First slide">
                                <div class="carousel-info">
                                    <h4>Dr. Silvio Rodríguez</h4>
                                    <p>Anestesista en colaboración con el departamento de implantología de la Clinica Dental
                                        Avilés y Román</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="itemwrapper">
                                <img class="redondel" src="../2.jpg" alt="Second slide">
                                <div class="carousel-info">
                                    <h4>Dr. Silvio Rodríguez</h4>
                                    <p>Anestesista en colaboración con el departamento de implantología de la Clinica Dental
                                        Avilés y Román</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="itemwrapper">
                                <img class="redondel" src="../2.jpg" alt="Third slide">
                                <div class="carousel-info">
                                    <h4>Dr. Silvio Rodríguez</h4>
                                    <p>Anestesista en colaboración con el departamento de implantología de la Clinica Dental
                                        Avilés y Román</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div style="background-color: var(--blanco2)">
                    <div class="btn btn-blanco" data-dismiss="modal" aria-label="Close" style="margin: 0 auto;">
                        <span style="font-size: 2rem; line-height: 0; margin: 3px 1em 0 0">&times;</span>Volver
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contacto_superior" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contacto_superior" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span data-dismiss="modal" style="position: absolute; top: 1em; right: 1em; font-size: 2em;">&times;</span>
                <div class="container">
                    <div class="banner centro">
                        <div class="bannerinner">
                            <h2>Contáctanos</h2>
                            <p>Déjanos tus datos y te atenderemos de forma personalizada lo antes posible</p>
                        </div>
                    </div>
                    <form onsubmit="$('#contacto_superior').modal('hide'); $('#gracias').modal('show');" action="https://docs.google.com/forms/d/e/1FAIpQLSeSZ3UOF-cwrTozJJBN8p_Ucl2Sb_nLa6u0AT_bqc9XhCLwQg/formResponse"
                        target="no-target">
                        <div class="row contactform">
                            <div class="col-12">
                                <input name="entry.1199946029" type="text" id="nombre" autocomplete="given-name" required placeholder="Nombre" aria-label="Nombre">
                                <input name="entry.249173692" type="text" id="apellidos" autocomplete="family-name" required placeholder="Apellidos" aria-label="Apellidos">
                                <input name="emailAddress" type="email" id="email" autocomplete="email" required placeholder="Email" aria-label="Email">
                                <input name="entry.659781189" type="text" id="telefono" autocomplete="tel" placeholder="Teléfono" aria-label="Teléfono">
                                <textarea rows="4" name="entry.1197895751" id="descripcion" placeholder="Descripción" aria-label="Descripción"></textarea>
                                <button type="submit" class="btn btn-azul1">Enviar</button>
                            </div>
                            <input name="entry.1446172262" type="hidden" value="Arcada superior">
                        </div>
                    </form>
                    <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contacto_inferior" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contacto_inferior" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span data-dismiss="modal" style="position: absolute; top: 1em; right: 1em; font-size: 2em;">&times;</span>
                <div class="container">
                    <div class="banner centro">
                        <div class="bannerinner">
                            <h2>Contáctanos</h2>
                            <p>Déjanos tus datos y te atenderemos de forma personalizada lo antes posible</p>
                        </div>
                    </div>
                    <form onsubmit="$('#contacto_inferior').modal('hide'); $('#gracias').modal('show');" action="https://docs.google.com/forms/d/e/1FAIpQLSeSZ3UOF-cwrTozJJBN8p_Ucl2Sb_nLa6u0AT_bqc9XhCLwQg/formResponse"
                        target="no-target">
                        <div class="row contactform">
                            <div class="col-12">
                                <input name="entry.1199946029" type="text" id="nombre" autocomplete="given-name" required placeholder="Nombre" aria-label="Nombre">
                                <input name="entry.249173692" type="text" id="apellidos" autocomplete="family-name" required placeholder="Apellidos" aria-label="Apellidos">
                                <input name="emailAddress" type="email" id="email" autocomplete="email" required placeholder="Email" aria-label="Email">
                                <input name="entry.659781189" type="text" id="telefono" autocomplete="tel" placeholder="Teléfono" aria-label="Teléfono">
                                <textarea rows="4" name="entry.1197895751" id="descripcion" placeholder="Descripción" aria-label="Descripción"></textarea>
                                <button type="submit" class="btn btn-azul1">Enviar</button>
                            </div>
                            <input name="entry.1446172262" type="hidden" value="Arcada Inferior">
                        </div>
                    </form>
                    <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

</html>