<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Plantilla clínicas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="script.js" type="application/ecmascript"></script>
</head>

<body>
	<div class="container-fluid p-0">
		<nav id="menu">
			<a href="index.html">
				<img src="../logo.png" alt="logo" />
			</a>
			<ul class="d-none d-lg-flex">
				<a href="index.html">
					<li>Inicio</li>
				</a>
				<a href="tratamientos.html">
					<li>Tratamientos</li>
				</a>
				<a href="">
					<li>La clínica</li>
				</a>
				<a href="">
					<li>Testimonios</li>
				</a>
				<a href="postdeblog.html">
					<li>Blog</li>
				</a>
				<a href="">
					<li class="btn btn-azul1">
						<span style="font-size: 2rem;">✆</span>
					</li>
				</a>
			</ul>
			<div class="d-flex d-lg-none d-xl-none" data-toggle="collapse" data-target="#menumobile" aria-expanded="false" aria-controls="menucollapse"
			 style="font-size: 2rem; padding: 0 1em; color: var(--gris1)">≡</div>
		</nav>
		<div id="menumobile" class="collapse" aria-labelledby="menumobile" data-parent="#menu">
			<ul>
				<a href="index.html">
					<li>Inicio</li>
				</a>
				<a href="tratamientos.html">
					<li>Tratamientos</li>
				</a>
				<a href="">
					<li>La clínica</li>
				</a>
				<a href="">
					<li>Testimonios</li>
				</a>
				<a href="postdeblog.html">
					<li>Blog</li>
				</a>
			</ul>
		</div>
	    <div class="banner centro">
	        <div class="bannerinner">
	            <h1>Tratamientos</h1>
	            <h3>La más alta tecnología al servicio de tu boca</h3>
	        </div>
	    </div>
		<div id="banner1" class="banner izda">
			<div class="bannerinner">
				<h2>Cirugía mínimamente invasiva</h2>
				<h4>Más de 1200 implantes colocados</h4>
				<div class="btn btn-contornonegro">Descúbrelos</div>
			</div>
		</div>
		<div id="banner2" class="banner dcha">
			<div class="bannerinner">
				<h2>Diseño digital de sonrisas</h2>
				<h4>Más de 1200 sonrisas diseñadas</h4>
				<div class="btn btn-contornonegro">Descúbrelos</div>
			</div>
		</div>
		<div id="banner3" class="banner izda">
			<div class="bannerinner">
				<h2>Prótesis dentales fijas</h2>
				<h4>Más de 1200 prótesis colocadas</h4>
				<div class="btn btn-contornonegro">Descúbrelos</div>
			</div>
		</div>
		<div id="banner4" class="banner dcha">
			<div class="bannerinner">
				<h2>Ortodoncias invisibles</h2>
				<h4>Más de 1200 ortodoncias colocadas</h4>
				<div class="btn btn-contornonegro">Descúbrelos</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="banner centro">
			<div class="bannerinner">
				<h2>Si tienes dudas, te ayudamos</h2>
				<p>No te quedes con niguna pregunta, puedes contactarnos haciendo click en el botón del chat online o a través de nuestro teléfono de atención al paciente. Solicita tu consulta digital totalmente gratuíta y nuestro equipo de profesionales podrá ayudarte a volver a disfrutar de tu boca como el primer día.</p>
			</div>
		</div>
		<div class="cardiconwrapper">
			<div class="cardicon">
				<img src="../tooth.png" alt="">
				<h4>Dental Medical Group</h4>
				<p>Más de 200 profesionales en 20 clínicas dentales de España y Portugal</p>
			</div>
			<div class="cardicon">
				<img src="../tooth.png" alt="">
				<h4>Queremos ayudarte</h4>
				<p>Emplea nuestro chat online para resolver cualquier tipo de duda que tengas.</p>
			</div>
			<div class="cardicon">
				<img src="../tooth.png" alt="">
				<h4>Financiación a medida</h4>
				<p>Trabajamos para que siempre puedas tener la atención médica que necesitas a tu alcance.</p>
			</div>
		</div>
	</div>
   

    <!-- <div class="container-fluid">
		<div class="banner izda">
			<h1>Clinica presiosa</h1>
			<h2>Clinica presiosa</h2>
			<h3>Clinica presiosa</h3>
			<h4>Clinica presiosa</h4>
			<p>Clinica presiosa</p>
			<small>Clinica presiosa</small>
		</div>	
		<div class="banner banneroscuro dcha">
			<h1 class="claro">Clinica presiosa</h1>
			<h2 class="claro">Clinica presiosa</h2>
			<h3 class="claro">Clinica presiosa</h3>
			<h4 class="claro">Clinica presiosa</h4>
			<p class="claro">Clinica presiosa</p>
			<small class="claro">Clinica presiosa</small>
		</div>
	</div>
	<div class="banner">
		<div class="btn btn-azul1">btn-azul1</div>
		<div class="btn btn-azul2">btn-azul2</div>
	</div>
	<div class="banneroscuro banner dcha">
		<div class="btn btn-contornoblanco">btn-contornoblanco</div>
		<div class="btn btn-contornonegro">btn-contornonegro</div>
		<div class="btn btn-blanco">btn-blanco</div>
	</div>
	
<div class="selectordelamuerte" style="display: flex;">
<div class="flexcol">
			<label>item1</label>
			<select onchange="changeGrid(event, 1)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item2</label>
			<select onchange="changeGrid(event, 2)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item3</label>
			<select onchange="changeGrid(event, 3)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item4</label>
			<select onchange="changeGrid(event, 4)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item5</label>
			<select onchange="changeGrid(event, 5)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item6</label>
			<select onchange="changeGrid(event, 6)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item7</label>
			<select onchange="changeGrid(event, 7)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item8</label>
			<select onchange="changeGrid(event, 8)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
<div class="flexcol">
			<label>item9</label>
			<select onchange="changeGrid(event, 9)">
				<option value="">Selecciona</option>
				<option value="h1w1">h1w1</option>
				<option value="h1w2">h1w2</option>
				<option value="h1w3">h1w3</option>
				<option value="h1w4">h1w4</option>
				<option value="h1w5">h1w5</option>
				<option value="h2w1">h2w1</option>
				<option value="h2w2">h2w2</option>
				<option value="h2w3">h2w3</option>
				<option value="h2w4">h2w4</option>
				<option value="h2w5">h2w5</option>
				<option value="h3w1">h3w1</option>
				<option value="h3w2">h3w2</option>
				<option value="h3w3">h3w3</option>
				<option value="h3w4">h3w4</option>
				<option value="h3w5">h3w5</option>
				<option value="h4w1">h4w1</option>
				<option value="h4w2">h4w2</option>
				<option value="h4w3">h4w3</option>
				<option value="h4w4">h4w4</option>
				<option value="h4w5">h4w5</option>
				<option value="h5w1">h5w1</option>
				<option value="h5w2">h5w2</option>
				<option value="h5w3">h5w3</option>
				<option value="h5w4">h5w4</option>
				<option value="h5w5">h5w5</option>
			</select>
		</div>
	</div>
	
	<div class="grid">
		<div id="item1" class="h1w2"><h4>Noticia de dientes nº1</h4></div>
		<div id="item2" class="h2w1"><h4>Noticia de dientes nº2</h4></div>
		<div id="item3" class="h1w1"><h4>Noticia de dientes nº3</h4></div>
		<div id="item4" class="h1w1"><h4>Noticia de dientes nº4</h4></div>
		<div id="item5" class="h1w1"><h4>Noticia de dientes nº5</h4></div>
		<div id="item6" class="h1w1"><h4>Noticia de dientes nº6</h4></div>
		<div id="item7" class="h2w2"><h4>Noticia de dientes nº7</h4></div>
		<div id="item8" class="h1w1"><h4>Noticia de dientes nº8</h4></div>
		<div id="item9" class="h1w2"><h4>Noticia de dientes nº9</h4></div>
	</div>
	
	<div class="cardwrapper">
		<div class="cardtitle"><h3>Más de 20 años de experiencia</h3><div class="plusbtn">+</div></div>
		<div class="cardtitle"><h3>Más de 12000 implantes colocados</h3><div class="plusbtn">+</div></div>
		<div class="cardtitle"><h3>Garantía en todos los tratamientos</h3><div class="plusbtn">+</div></div>
		<div class="cardtitle"><h3>Tratamientos digitalizados</h3><div class="plusbtn">+</div></div>
	</div>
	
	<div class="cardwrapper">
		<div class="cardnews">
			<img src="1.jpg" />
			<h4>El corazón y la salud bucodental, piezas de un mismo engranaje</h4>
			<p>Ya sabemos que la salud bucal es una pieza imprescindible de nuestra salud en general y que si cuidamos de nuestra boca estaremos contribuyendo a mejorar la salud de todo nuestro cuerpo.</p>
		</div>
		<div class="cardnews">
			<img src="1.jpg" />
			<h4>La importancia de la higiente en los tratamientos con implantes dentales</h4>
			<p>Según datos de la Sociedad Española de Periodoncia y Osteointegración (SEPA), cada año se realizan entre 400.000 y 500.000 tratamientos de implantología dental en nuestro país.</p>
			</div>
		<div class="cardnews">
			<img src="1.jpg" />
			<h4>La especialidad dental que cuida de la salud oral de los más pequeños</h4>
			<p>La infancia es la edad ideal para adquirir hábitos y costumbres sanas. El reto de muchos padres y madres es fomentar en los hijos aquellos valores necesarios para adquirir buenas pautas.</p>
		</div>
	</div> -->
</body>

</html>